.SustainabilitySelectionContainer {
    border: 1px solid #DDE1E6;
    border-radius: 8px;
    padding: 20px 30px;
    margin: 20px 0;
    background-color: #FFF;
}

.areaSelectionContainer {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: nowrap;
}

.addingAreas {
    width: 50%;
}

.areaSection {
    display: flex;
    justify-content: left;
    gap: 10px;
    flex-wrap: wrap;
}

.areaSection .area {
    padding: 5px 10px;
    background-color: #DDE1E6;
    border-radius: 0px;
    cursor: pointer;
    font-size: small;
    border: 1px solid #DDE1E6;
}

.selectedAreas {
    flex-grow: 1;
    max-width: 50%;
}

.description {
    font-size: 14px;
    max-width: 450px;
}

.formElement {
    flex-grow: 1;
    margin: 5px 0 5px 20px;
}

.formElement input,
.formElement textarea,
.formElement select {
    border-bottom: 2px solid #C1C7CD;
    width: 96%;
    padding: 10px 12px 10px 12px;
    gap: 0px;
    font-size: 16px;
    opacity: 0px;
    color: #000;
    margin: 5px 0 0 0;
    outline: none;
}

.formElement textarea {
    min-height: 80px;
}

.formButton {
    background: #549B79;
    float: right;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    font-weight: 500;
}

.formButton:hover {
    background: #0faa5f;
}